<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FishServlet</servlet-name>
  	<display-name>FishServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.FishServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditFishServlet</servlet-name>
  	<display-name>EditFishServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.EditFishServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteFishServlet</servlet-name>
  	<display-name>DeleteFishServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeleteFishServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AccessoriesServlet</servlet-name>
  	<display-name>AccessoriesServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AccessoriesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteAccessoriesServlet</servlet-name>
  	<display-name>DeleteAccessoriesServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeleteAccessoriesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditAccessoriesServlet</servlet-name>
  	<display-name>EditAccessoriesServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.EditAccessoriesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCustomerServlet</servlet-name>
  	<display-name>DeleteCustomerServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SettingServlet</servlet-name>
  	<display-name>SettingServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SettingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditFishOrderServlet</servlet-name>
  	<display-name>EditFishOrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.EditFishOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditAccessoriesOrderServlet</servlet-name>
  	<display-name>EditAccessoriesOrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.EditAccessoriesOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FishServlet</servlet-name>
  	<url-pattern>/FishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditFishServlet</servlet-name>
  	<url-pattern>/EditFishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteFishServlet</servlet-name>
  	<url-pattern>/DeleteFishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccessoriesServlet</servlet-name>
  	<url-pattern>/AccessoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteAccessoriesServlet</servlet-name>
  	<url-pattern>/DeleteAccessoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditAccessoriesServlet</servlet-name>
  	<url-pattern>/EditAccessoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCustomerServlet</servlet-name>
  	<url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SettingServlet</servlet-name>
  	<url-pattern>/SettingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditFishOrderServlet</servlet-name>
  	<url-pattern>/EditFishOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditAccessoriesOrderServlet</servlet-name>
  	<url-pattern>/EditAccessoriesOrderServlet</url-pattern>
  </servlet-mapping>
</web-app>
